@import 'tailwindcss';

@layer base {
  body {
    @apply bg-gray-950 text-gray-200 antialiased;
  }

  /* Custom Scrollbar for Webkit */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-700 rounded hover:bg-gray-600 transition-colors;
  }
}
